@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: #09396b ;
    font-family: "Fredoka One";
}
.container{
    text-align: center;
}
h3{
    font-size: 2rem;
    color: rgb(247, 246, 252);
}
button{
    outline: white;
    border: whitesmoke;
    background: rgb(142, 115, 206);
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;

}



