@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body{
    background-color: #98AFC7 ;
    font-family: "Fredoka One";
}
.container{
    text-align: center;
}
h3{
    font-size: 2rem;
    color: white;
}
button{
    outline: none;
    border: whitesmoke;
    background: rgb(75, 4, 240);
    padding: 20px;
    border-radius: 20px;
    font-size: 1rem;

}
